<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.wind.tibmas.core.mapper.UserRegisterExpandMapper">

    <!--
    /**
     * 代码自动生成，请不要修改，切记！！！
     */
    -->

    <sql id="selectAllPropertiesAsDO">
            select  id id, property_name propertyName, property_value propertyValue, register_id registerId, gmt_create gmtCreate, gmt_modified gmtModified, is_deleted isDeleted, user_id_create userIdCreate, user_id_modified userIdModified from user_register_expand
    </sql>

    <sql id="selectByFieldNamesAsDO">
       select <foreach collection="fieldNames" index="index" item="item"  separator=",">${item}</foreach> from user_register_expand
    </sql>

    <sql id="selectAsDO">
        <choose>
            <when test="fieldNames==null or fieldNames.length==0">
                  <include refid="selectAllPropertiesAsDO"/>
            </when>
            <otherwise>
                  <include refid="selectByFieldNamesAsDO"/>
            </otherwise>
        </choose>
    </sql>


    <select id="listAll" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" /> where is_deleted=0
    </select>

    <select id="mapAll" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" /> where is_deleted=0
    </select>


    <select id="getById" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" /> where id=#{id} and is_deleted=0
    </select>

    <select id="listByIds" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" /> where is_deleted=0 and id in (<foreach collection="ids" index="index" item="item"  separator=",">#{item}</foreach>)
    </select>

    <select id="mapByIds" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" /> where is_deleted=0 and id in (<foreach collection="ids" index="index" item="item"  separator=",">#{item}</foreach>)
    </select>

    <update id="deleteById">
        update  user_register_expand set is_deleted=1,gmt_modified=CURRENT_TIMESTAMP where id=#{id}
    </update>

    <update id="deleteByIds">
        update  user_register_expand set is_deleted=1,gmt_modified=CURRENT_TIMESTAMP where id in (<foreach collection="ids" index="index" item="item"  separator=",">#{item}</foreach>)
    </update>


    <update id="updateNotNullProperties">
        update user_register_expand set
                <if test="propertyName != null">property_name=#{propertyName},</if>
                <if test="propertyValue != null">property_value=#{propertyValue},</if>
                <if test="registerId != null">register_id=#{registerId},</if>
                <if test="userIdCreate != null">user_id_create=#{userIdCreate},</if>
                <if test="userIdModified != null">user_id_modified=#{userIdModified},</if>
                gmt_modified=CURRENT_TIMESTAMP
        where id=#{id}
    </update>

    <update id="updateAllProperties">
        update user_register_expand set
                property_name=#{propertyName},
                property_value=#{propertyValue},
                register_id=#{registerId},
                user_id_create=#{userIdCreate},
                user_id_modified=#{userIdModified},
                gmt_modified=CURRENT_TIMESTAMP
        where id=#{id}
    </update>


    <insert id="insertAllProperties">
              <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
                        SELECT LAST_INSERT_ID() as id
                      </selectKey>

        insert into user_register_expand
        (
                property_name,
                property_value,
                register_id,
                user_id_create,
                user_id_modified,
                is_deleted,gmt_create,gmt_modified
        )
        values
        (
                #{propertyName},
                #{propertyValue},
                #{registerId},
                #{userIdCreate},
                #{userIdModified},
                0,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP
        )
    </insert>


    <insert id="insertNotNullProperties">
                      <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
                                SELECT LAST_INSERT_ID() as id
                              </selectKey>
        insert into user_register_expand
        (
                <if test="propertyName!=null">property_name,</if>
                <if test="propertyValue!=null">property_value,</if>
                <if test="registerId!=null">register_id,</if>
                <if test="userIdCreate!=null">user_id_create,</if>
                <if test="userIdModified!=null">user_id_modified,</if>
                is_deleted,gmt_create,gmt_modified
        )
        values
        (
                <if test="propertyName!=null">#{propertyName},</if>
                <if test="propertyValue!=null">#{propertyValue},</if>
                <if test="registerId!=null">#{registerId},</if>
                <if test="userIdCreate!=null">#{userIdCreate},</if>
                <if test="userIdModified!=null">#{userIdModified},</if>
                0,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP
        )
    </insert>

        <insert id="insertAllPropertiesList">
           insert into user_register_expand
           (
                   property_name,
                   property_value,
                   register_id,
                   user_id_create,
                   user_id_modified,
                   is_deleted,gmt_create,gmt_modified
                   )
           values
           <foreach collection="list" item="item" index="index" separator="," >
           (
                   #{item.propertyName},
                   #{item.propertyValue},
                   #{item.registerId},
                   #{item.userIdCreate},
                   #{item.userIdModified},
                   0,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP
           )
           </foreach>
       </insert>



    <select id="listByProperty" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0 and ${propertyName}=#{value}
    </select>

    <select id="countByProperty" resultType="java.lang.Integer">
        select count(1) from user_register_expand
            where is_deleted=0 and ${propertyName}=#{value}
    </select>

    <select id="mapByProperty" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0 and ${propertyName}=#{value}
    </select>


    <update id="updateNotNullFieldsByProperty">
        update user_register_expand set
                <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0 and ${propertyName}=#{value}
    </update>

    <update id="updateAllFieldsByProperty">
        update user_register_expand set
                property_name=#{updateDO.propertyName},
                property_value=#{updateDO.propertyValue},
                register_id=#{updateDO.registerId},
                user_id_create=#{updateDO.userIdCreate},
                user_id_modified=#{updateDO.userIdModified},
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0 and ${propertyName}=#{value}
    </update>

    <update id="deleteByProperty">
        update user_register_expand set
                is_delete=1,
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0 and ${propertyName}=#{value}
    </update>

    <select id="listByProperties" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0
            <foreach collection="propertyNames" item="propertyName" index="index">
              and  ${propertyName}=#{values.[${index}]}
            </foreach>
    </select>

    <select id="countByProperties" resultType="java.lang.Integer">
        select count(1) from user_register_expand
            where is_deleted=0
            <foreach collection="propertyNames" item="propertyName" index="index">
              and ${propertyName}=#{values.[${index}]}
            </foreach>
    </select>

    <select id="mapByProperties" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0
            <foreach collection="propertyNames" item="propertyName" index="index">
              and  ${propertyName}=#{values.[${index}]}
            </foreach>
    </select>

    <update id="updateNotNullFieldsByProperties">
        update user_register_expand set
                <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0
         <foreach collection="propertyNames" item="propertyName" index="index">
           and  ${propertyName}=#{values.[${index}]}
         </foreach>
    </update>

    <update id="updateAllFieldsByProperties">
        update user_register_expand set
                property_name=#{updateDO.propertyName}
                property_value=#{updateDO.propertyValue}
                register_id=#{updateDO.registerId}
                user_id_create=#{updateDO.userIdCreate}
                user_id_modified=#{updateDO.userIdModified}
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0
         <foreach collection="propertyNames" item="propertyName" index="index">
           and  ${propertyName}=#{values.[${index}]}
         </foreach>
    </update>

    <update id="deleteByProperties">
        update user_register_expand set
                is_deleted=1,
                gmt_modified=CURRENT_TIMESTAMP
         where is_deleted=0
         <foreach collection="propertyNames" item="propertyName" index="index">
           and  ${propertyName}=#{values.[${index}]}
         </foreach>
    </update>

    <select id="_listByQueryItems" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </select>

    <select id="_mapByQueryItems" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </select>

    <select id="_countByQueryItems" resultType="java.lang.Integer">
        select count(1) from user_register_expand
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </select>

   <update id="_updateNotNullFieldsByQueryItems">
         update user_register_expand set
                <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                gmt_modified=CURRENT_TIMESTAMP
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </update>

    <update id="_updateNotAllFieldsByQueryItems">
         update user_register_expand set
                property_name=#{updateDO.propertyName}
                property_value=#{updateDO.propertyValue}
                register_id=#{updateDO.registerId}
                user_id_create=#{updateDO.userIdCreate}
                user_id_modified=#{updateDO.userIdModified}
                gmt_modified=CURRENT_TIMESTAMP
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </update>

    <update id="_deleteByQueryItems">
         update user_register_expand set
                is_deleted=1,
                gmt_modified=CURRENT_TIMESTAMP
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                          #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
    </update>

    <select id="_listByPageQuery" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
        <include refid="selectAsDO" />
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                  <choose>
                      <when test="item.type.optr=='in' || item.type.optr=='not in'">
                          <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                              #{inItem}
                          </foreach>
                      </when>
                      <otherwise>
                         #{values.[${item.valueKeyName}]}
                      </otherwise>
                  </choose>
              </if>
            </foreach>
            <if test="pageQuery.sortFieldNameForDatabase!=null">
                order by ${pageQuery.sortFieldNameForDatabase} ${pageQuery.sortType}
            </if>
            limit #{values.pageOffset},#{pageQuery.pageSize}
    </select>


    <select id="_countByPageQuery" resultType="java.lang.Integer">
        select count(1) from user_register_expand
            where is_deleted=0
            <foreach collection="items" item="item" index="index">
              and  ${item.fieldName} ${item.type.optr}
              <if test="item.type.hasValue">
                    <choose>
                        <when test="item.type.optr=='in' || item.type.optr=='not in'">
                            <foreach collection="values[item.valueKeyName]" item="inItem" close=")" open="(" separator=",">
                                #{inItem}
                            </foreach>
                        </when>
                        <otherwise>
                           #{values.[${item.valueKeyName}]}
                        </otherwise>
                    </choose>
                </if>
            </foreach>
    </select>



          <select id="listByPropertyName" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and property_name=#{propertyName}
          </select>

          <select id="countByPropertyName" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and property_name=#{propertyName}
           </select>

           <select id="mapByPropertyName" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                  where is_deleted=0 and property_name=#{propertyName}
           </select>

           <update id="updateNotNullFieldsByPropertyName">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
               where is_deleted=0 and property_name=#{propertyName}
          </update>

          <update id="updateAllFieldsByPropertyName">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and property_name=#{propertyName}
            </update>

            <update id="deleteByPropertyName">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and property_name=#{propertyName}
            </update>



            <!--property in -->

         <select id="listByInPropertyName" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and property_name in
                  <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                      #{inItem}
                  </foreach>
          </select>

          <select id="countByInPropertyName" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and property_name in
                      <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                          #{inItem}
                      </foreach>
           </select>

           <select id="mapByInPropertyName" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                    where is_deleted=0 and property_name in
                        <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
           </select>

           <update id="updateNotNullFieldsByInPropertyName">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and property_name in
                       <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
          </update>

          <update id="updateAllFieldsByInPropertyName">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and property_name in
                       <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
            </update>

            <update id="deleteByInPropertyName">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                    where is_deleted=0 and property_name in
                        <foreach collection="propertyNameList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
            </update>
          <select id="listByPropertyValue" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and property_value=#{propertyValue}
          </select>

          <select id="countByPropertyValue" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and property_value=#{propertyValue}
           </select>

           <select id="mapByPropertyValue" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                  where is_deleted=0 and property_value=#{propertyValue}
           </select>

           <update id="updateNotNullFieldsByPropertyValue">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
               where is_deleted=0 and property_value=#{propertyValue}
          </update>

          <update id="updateAllFieldsByPropertyValue">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and property_value=#{propertyValue}
            </update>

            <update id="deleteByPropertyValue">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and property_value=#{propertyValue}
            </update>



            <!--property in -->

         <select id="listByInPropertyValue" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and property_value in
                  <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                      #{inItem}
                  </foreach>
          </select>

          <select id="countByInPropertyValue" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and property_value in
                      <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                          #{inItem}
                      </foreach>
           </select>

           <select id="mapByInPropertyValue" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                    where is_deleted=0 and property_value in
                        <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
           </select>

           <update id="updateNotNullFieldsByInPropertyValue">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and property_value in
                       <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
          </update>

          <update id="updateAllFieldsByInPropertyValue">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and property_value in
                       <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
            </update>

            <update id="deleteByInPropertyValue">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                    where is_deleted=0 and property_value in
                        <foreach collection="propertyValueList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
            </update>
          <select id="listByRegisterId" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and register_id=#{registerId}
          </select>

          <select id="countByRegisterId" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and register_id=#{registerId}
           </select>

           <select id="mapByRegisterId" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                  where is_deleted=0 and register_id=#{registerId}
           </select>

           <update id="updateNotNullFieldsByRegisterId">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
               where is_deleted=0 and register_id=#{registerId}
          </update>

          <update id="updateAllFieldsByRegisterId">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and register_id=#{registerId}
            </update>

            <update id="deleteByRegisterId">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and register_id=#{registerId}
            </update>



            <!--property in -->

         <select id="listByInRegisterId" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and register_id in
                  <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                      #{inItem}
                  </foreach>
          </select>

          <select id="countByInRegisterId" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and register_id in
                      <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                          #{inItem}
                      </foreach>
           </select>

           <select id="mapByInRegisterId" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                    where is_deleted=0 and register_id in
                        <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
           </select>

           <update id="updateNotNullFieldsByInRegisterId">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and register_id in
                       <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
          </update>

          <update id="updateAllFieldsByInRegisterId">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and register_id in
                       <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
            </update>

            <update id="deleteByInRegisterId">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                    where is_deleted=0 and register_id in
                        <foreach collection="registerIdList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
            </update>
          <select id="listByUserIdCreate" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_create=#{userIdCreate}
          </select>

          <select id="countByUserIdCreate" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and user_id_create=#{userIdCreate}
           </select>

           <select id="mapByUserIdCreate" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_create=#{userIdCreate}
           </select>

           <update id="updateNotNullFieldsByUserIdCreate">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
               where is_deleted=0 and user_id_create=#{userIdCreate}
          </update>

          <update id="updateAllFieldsByUserIdCreate">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and user_id_create=#{userIdCreate}
            </update>

            <update id="deleteByUserIdCreate">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and user_id_create=#{userIdCreate}
            </update>



            <!--property in -->

         <select id="listByInUserIdCreate" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_create in
                  <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                      #{inItem}
                  </foreach>
          </select>

          <select id="countByInUserIdCreate" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and user_id_create in
                      <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                          #{inItem}
                      </foreach>
           </select>

           <select id="mapByInUserIdCreate" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                    where is_deleted=0 and user_id_create in
                        <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
           </select>

           <update id="updateNotNullFieldsByInUserIdCreate">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and user_id_create in
                       <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
          </update>

          <update id="updateAllFieldsByInUserIdCreate">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and user_id_create in
                       <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
            </update>

            <update id="deleteByInUserIdCreate">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                    where is_deleted=0 and user_id_create in
                        <foreach collection="userIdCreateList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
            </update>
          <select id="listByUserIdModified" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_modified=#{userIdModified}
          </select>

          <select id="countByUserIdModified" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and user_id_modified=#{userIdModified}
           </select>

           <select id="mapByUserIdModified" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_modified=#{userIdModified}
           </select>

           <update id="updateNotNullFieldsByUserIdModified">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
               where is_deleted=0 and user_id_modified=#{userIdModified}
          </update>

          <update id="updateAllFieldsByUserIdModified">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and user_id_modified=#{userIdModified}
            </update>

            <update id="deleteByUserIdModified">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                 where is_deleted=0 and user_id_modified=#{userIdModified}
            </update>



            <!--property in -->

         <select id="listByInUserIdModified" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
              <include refid="selectAsDO" />
                  where is_deleted=0 and user_id_modified in
                  <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                      #{inItem}
                  </foreach>
          </select>

          <select id="countByInUserIdModified" resultType="java.lang.Integer">
                select count(1) from user_register_expand
                where is_deleted=0 and user_id_modified in
                      <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                          #{inItem}
                      </foreach>
           </select>

           <select id="mapByInUserIdModified" resultType="com.lzw.wind.tibmas.core.dbo.UserRegisterExpandDO">
                <include refid="selectAsDO" />
                    where is_deleted=0 and user_id_modified in
                        <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
           </select>

           <update id="updateNotNullFieldsByInUserIdModified">
              update user_register_expand set
                      <if test="updateDO.propertyName != null">property_name=#{updateDO.propertyName},</if>
                      <if test="updateDO.propertyValue != null">property_value=#{updateDO.propertyValue},</if>
                      <if test="updateDO.registerId != null">register_id=#{updateDO.registerId},</if>
                      <if test="updateDO.userIdCreate != null">user_id_create=#{updateDO.userIdCreate},</if>
                      <if test="updateDO.userIdModified != null">user_id_modified=#{updateDO.userIdModified},</if>
                      gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and user_id_modified in
                       <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
          </update>

          <update id="updateAllFieldsByInUserIdModified">
                update user_register_expand set
                        property_name=#{updateDO.propertyName},
                        property_value=#{updateDO.propertyValue},
                        register_id=#{updateDO.registerId},
                        user_id_create=#{updateDO.userIdCreate},
                        user_id_modified=#{updateDO.userIdModified},
                        gmt_modified=CURRENT_TIMESTAMP
                   where is_deleted=0 and user_id_modified in
                       <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                           #{inItem}
                       </foreach>
            </update>

            <update id="deleteByInUserIdModified">
                update user_register_expand set
                        is_deleted=1,
                        gmt_modified=CURRENT_TIMESTAMP
                    where is_deleted=0 and user_id_modified in
                        <foreach collection="userIdModifiedList" item="inItem" close=")" open="(" separator=",">
                            #{inItem}
                        </foreach>
            </update>

</mapper>

